
.featured-event{
  background: $gray;
  padding: 60px 0 60px 0;
  color: white;
}

.event{
  @include make_row;
  padding: 20px;
  .date{
    @include make-sm-column(3);
    .day{
      font-size: 2em;
      font-weight: 600;
    }
    .time{
      font-size: 1.6em;
    }
  }
}
