.projects-container {
  @include content-columns(2);
  .card-outer {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    padding-top: 1px;
  }
}

// typography
.project-name {
  text-align: center;
  color: $cfa-red;
}
.section-title {
  color: $cfa-red;
}

// layout
.project-container {
  padding-top: 4rem;
  .project-description {
    font-size: 1.8rem;
    border-bottom: 1px solid #ccc;
  }

  .project-screenshots {
    @include make-row;
    padding: 1rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    .screenshot {
      @include make-sm-column(4);
    }
  }

  .project-stats {
    @include make-row;
    &> * {
      @include make-sm-column(4);
      // padding: 2.5rem;
      text-align: center;
      i {
        color: $cfa-red;
      }
    }
  }

  .project-details {
    @include make-row;
    &> div {
      @include make-sm-column(6);
    }

    .skill {
      padding: 0.5rem 1rem;
      background: $gray1;
      color: white;
    }
  }

  .project-data {
    @include make-sm-column(6);
  }

  .languages {
    .language {
      padding: 0.5rem 1rem;
      background: $gray2;
      color: white;

    }
  }

  .project-links {
    @include make-row;
    .project-ext-link {
      @include make-sm-column(4);
      text-align: center;
      .btn-project {
        @include button-variant(white, $brand-primary, darken($brand-primary, 5%));
      }
    }
  }

}

.avatar {
  @include square(60px);
  border-radius: $border-radius-base;
}
