$brand-secondary: #3a9dd7; // blue
$blue-light: #389ed2;
// CfA primary colors
$cfa-red: #cf1b41;
$cfa-blue: #399fd3;
$cfa-gray: #6d6e71;
$cfa-black: #000000; 

// CfA secondary colors
$cfa-dark-blue: #004b6a;
$cfa-light-blue: #7ab5d6;
$cfa-dark-gray: #444444;
$cfa-medium-gray: #999595;
$cfa-light-gray: #e5e5e5;
$cfa-orange: #e87d2b;
$cfa-purple: #69579c;
$cfa-teal: #00a175;
$cfa-medium-blue: #4298bb;
$cfa-yellow: #fedd44;
$cfa-white: #ffffff;

//
$gray1: #404040; // 75%
$gray2: #808080; // 50%

$footer-height: 160px;

$donor-count: 5; // track number of donors for footer