$fa-font-path: "../styles/fonts";
$icon-font-path: "../styles/fonts/";

@import "font-awesome/scss/font-awesome";

@import "variables";
@import "bootstrap3";
@import "octicons";
@import "project";
@import "event";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

time {
  border-bottom: 1px dashed $gray2;
}

.masthead {
  background: url(/images/headline.jpg) no-repeat center center;
  background-size: cover;
  color: white;
  position: relative;
  text-shadow: $gray 0 2px;
  height: 250px;
  header {
    padding-top: 90px;
    font-size: 36px;
    h1 {
      font-size: 90px;
      margin-top: 0;
    }
  }
}

// TODO merge with .masthead, perhaps
.headline {
  background: $gray;
  padding: 60px 0;
  color: white;
  h1 {
    font-size: 4em;
  }
}

.box-link:hover {
  text-decoration: none;
}


.homepage-box {
  border-radius: $border-radius-base;
  font-size: 1.25em;
  margin-bottom: 0.65em;
  padding: 10px;
  text-align: center;
  @include box-shadow(0 2px 3px 0 rgba(0,0,0,.25));

  &.box-medium {
    min-height: 140px;
  }
  &.box-icon {
    @extend .clearfix;
    padding: 24px;
    text-align: left;
    .ib-header-small { font-size: 30px; }
    .ib-header-large { font-size: 48px; }
  }
  &.box-large {
    min-height: 190px;
  }
  &.box-orange {
    background-color: #E87D2B;
    color: white;
  }
  &.box-purple {
    background-color: #68569B;
    color: white;
  }
  &.box-blue {
    background-color: $brand-primary;
    color: white;
  }
  &.box-lightblue {
    background-color: #4197BA;
    color: white;
  }
  &.box-screenshot, &.box-video {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &.box-video {
    @include opacity(0.75);
    color: rgba(60, 60, 60, 0.85);
    padding-top: 40px;
  }
}

.box-caption {
  font-size: 0.6em;
  text-align: center;
  text-transform: uppercase;
}

.box-footer-link {
  text-align: center;
}


.ember-view > footer {
  background-color: #e8e8e8;
  border-top: 5px solid $cfa-red;
  margin: 20px 0 0;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  height: $footer-height - 20px; // 20px for margin-top
  width: 100%;

  .donors {
    text-align: center;
  }

  .donor {
    @extend .text-muted;
    display: inline-block;
    margin: 0;
    padding: 1%;
    text-align: left;
    vertical-align: middle;
    width: percentage(1 / $donor-count) - 2; // -2 for padding-left/padding-right

    img {
      max-width: 80%;
    }
  }
}

section {
  padding: 30px 0;
  font-size: 1.3em;
  h2 {
    color: #6C6d70;
  }
  h3 {
    color: #6C6d70;
    margin-top: 0.4em;
    text-align: center;
  }
  &.offset-blue {
    h2 { color: white; }
    background-color: $blue-light;
    color: white;
  }
}


.cta-link {
  font-weight: bold;
}


.card-outer {
  margin-bottom: $grid-gutter-width;
  .card-inner {
    background-color: white;
    @include box-shadow(0 1px 3px rgba(0, 0, 0, .2));
    border-radius: $border-radius-small;
    overflow: hidden;
    header {
      position: relative;
      height: 150px;
      border-bottom: 4px solid $gray-light;
      // hide bg behind rest of header
      .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        &.bg-image {
          background-size: cover;
          &:before {
            @include opacity(0.25);
            content: '';
            display: block;
            position: relative;
            top: 0;
            // left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
          }
        }
        &.bg-none {
          background-color: $brand-primary;
          color: white;
          font-size: 15em;
          line-height: 0;
          overflow: hidden;
          text-align: center;
        }
      }
      .site-btn {
        padding-top: 55px;
        position: relative;
        text-align: center;
      }
    }
    .project-skills {
      @extend .list-inline;
      // can't use :first-child, as Ember will add extra metamorph elements
      li:not(:first-of-type):before {
        content: '\2022'; // &bull;
        padding-right: 10px;
      }
    }
    .github-details {
      margin-top: 10px;
      a {
        @extend .text-muted;
      }
      .divider {
        @include nav-divider();
      }
    }
    .inset {
      padding: 0 $padding-small-horizontal;
    }
    footer {
      background-color: $brand-secondary;
      color: white;
      font-weight: bold;
      padding: $padding-base-vertical $padding-small-horizontal;
      a { color: white; }
    }
    .card-back {
      // display: none;
    }

    /* CARD FLIPPING
      -webkit-perspective: 1000;
      perspective: 1000;
      width: 100%;
      height: 480px;
      &:hover .card-flip {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }
      .card-flip {
        -webkit-transition: 0.6s;
        transition: 0.6s;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: relative;
      }
      .card-front, .card-back {
        width: 100%;
        height: 480px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }
      .card-front {
        background: white;
        z-index: 2;
      }
      .card-back {
        .show; //counteract .hide
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }
    */
  }
}
