<ul>
{{#each}}
  <li>
    <img {{bind-attr src=avatar}}>
    {{#link-to 'members.show' this}}{{name}}{{/link-to}}<br>
    projects:
    <ul>
    {{#each projectMemberships}}
      <li> {{project.name}}, {{role}}</li>
    {{/each}}
    </ul>
  </li>
{{/each}}
</ul>
