<footer>
  <div class="container">
    <div class="donors">
      <p class="donor">Code for Boston is grateful for the generous donations of:</p>
      <a class="donor" href="http://codeforamerica.org/"><img src="images/code_for_america_logo.png" alt="Code for America"></a>
      <a class="donor" href="http://cic.us/"><img src="images/cic_logo.png" alt="Cambridge Innovation Center"></a>
      <a class="donor" href="http://www.socrata.com/"><img src="images/socrata_logo.png" alt="Socrata"></a>
      <a class="donor" href="http://www.constantcontact.com/index.jsp"><img src="images/constant_contact_logo.png" alt="Constant Contact"></a>
      <!-- <a class="donor" href="http://microsoftnewengland.com/"><img src="images/microsoft_logo.png" alt="Microsoft"></a> -->
    </div>
  </div>
</footer>
