<h1>{{#link-to 'index'}}Code for Boston{{/link-to}}</h1>
<nav>
{{#link-to 'about'}}about{{/link-to}} |
{{#link-to 'projects'}}projects{{/link-to}} |
{{#link-to 'members'}}people{{/link-to}} |
{{#link-to 'events'}}events{{/link-to}}
</nav>