<div class="container">
  <h1>Who We Are</h1>
  <p>
    Code for Boston is a <a href="http://codeforamerica.org/">Code for America</a> Brigade - a volunteer civic innovation organization created by Boston-area developers, designers, urban planners, and data geeks with an interest in solving civic and social problems through the use of creative technology. Located in over 40 cities worldwide, <a href="http://codeforamerica.org/about/brigade/">Brigades</a> hold regular hack nights, advocate for open data, deploy applications, and engage with city hall and municipal governments to foster collaboration.
  </p>
  <p>
    Code for Boston was a member of the inaugural class of Code for America brigades and is one of the fastest-growing and most productive brigades in the county. Since it’s inception in October of 2012, Code for Boston has garnered press in several outlets including <a href="http://www.metro.us/newyork/news/2013/11/27/code-for-boston-launches-pantry-pickup-site-2/">The Boston Metro</a>, <a href="http://techpresident.com/news/24913/boston-and-cambridge-move-towards-more-open-data">TechPresident</a>, <a href="http://www.citylab.com/work/2013/06/5-maps-show-2-different-americas/5824/">Atlantic Cities</a>, and <a href="http://www.usatoday.com/story/money/columnist/2013/06/23/baverman-columnist-entrepreneurs-startups/2445807/">USA Today</a>.
  </p>
  <p>
    We feel that with Boston’s rich history of revolution and inspiration, the city was the driving force behind the creation of Government 1.0 and who better than us to lead the way for Government 2.0? We seek to leverage the revolutionary spirit of New England to help open, improve, and engage our local governments across the Greater Boston area, and to pursue projects that solve real problems in our communities.
  </p>

  <h1>What We Do</h1>

  <p>
    Code for Boston projects have been anything from web and mobile applications, to mapping programs, to data visualizations, to long-term longitudinal studies. In conjunction with our fellow Brigades across the country, we aim to provide a focal point for community-based civic innovation and technology projects in the Boston area. We want to make a difference where we live and work.
  </p>
  <p>
    Our weekly hack nights are free and open to anyone interested in civic technology and innovation. Whether you’re a developer, designer, data scientist, researcher, or a community member with a problem that needs solving, we’d love to have you as part of the Brigade. It is our goal to involve new members in projects as soon as possible.
   </p>

  <p>
    The Code for Boston Brigade leadership team consists of:
    <ul>
      <li><a href="mailto:hweber@codeforamerica.org">Harlan Weber</a>, Brigade Captain</li>
      <li><a href="mailto:mcloyd@codeforamerica.org">Matt Cloyd</a>, Brigade Co-Captain</li>
      <li><a href="mailto:lyre.calliope@gmail.com">Lyre Calliope</a>, Community Lead</li>
      <li><a href="mailto:kristen.lynne.weber@gmail.com">Kristen Weber</a>, Communications Lead</li>
      <li><a href="mailto:beckyldonner@gmail.com">Becky Donner</a>, Fundraising Lead</li>
    </ul>
  </p>

</div>