<div class="masthead">
  <header class="container">
    <div>Hack your community with</div>
    <h1>Code for Boston</h1>
  </header>
</div>

<section style="background-color: lightgray">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        Part of the Code for America Brigade network, we are a volunteer group of developers, designers, data geeks, and citizen activists who use creative technology to solve civic and social problems.
        <a href class="cta-link">Learn more</a>
      </div>
      <a class="btn btn-primary col-sm-4">Join the Brigade</a>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2>What's new with Code for Boston</h2>
    <div class="row">
      <div class="col-md-4">
        <p>upcoming event</p>
        <p>Weekly Hack Night</p>
        <p>Our weekly work session will be at the Cambridge Innovation Center in Kendall Square, on the FOURTH FLOOR, in the KATHMANDU room. These Hack Nights are our time to meet in person to work on and discuss civic tech proje...</p>
      </div>
      <div class="col-md-5">
        <p>featured project</p>
        <p>Pantry Pickup</p>
        <p>Combining city data with a list of specific needs from food pantries will allow citizens to most effectively make useful and needed donations assisted by the Pantry Pick-Up App.</p>
      </div>
      <div class="col-md-3">
        <p>Blog Post</p>
        <p>Blog title goes here...</p>
        <p>Combining city data with a list of specific needs from food pantries will allow citizens to most effectively make useful and needed donations assisted by the Pantry ...</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href class="cta-link">Read more &amp; RSVP <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
      <div class="col-md-5">
        <a href class="cta-link">Get Involved <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
      <div class="col-md-3">
        <a href class="cta-link">Read more <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
    </div>
  </div>
</section>

<section class="offset-blue">
  <div class="container">
    <h2>New to civic technology? Great! Start here!</h2>
    Civic tech is awesome - lets you make a difference, effect change, etc but can be confusing. There are lots of players, lots of acronyms, and god forbid if youre not a coder. The following links will help you get oriented and up and running.
    <div class="row">
      <div class="col-md-3">
        Sunlight Foundation on Civic Hacking
      </div>
      <div class="col-md-3">
        Jen Pahlka's TED Talk
      </div>
      <div class="col-md-3">
        Code for America's 2013 Annual Report
      </div>
      <div class="col-md-3">
        Definition of civic hacking by GovFresh
      </div>
    </div>
    <p>Excited yet?  Check out these additional resources, then get hacking with Code for Boston</p>
  </div>
</section>

<section>
  <div class="container">
    <h2>Get involved with Code for Boston</h2>
    <p>New to civic technology? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    <hr>
    <div style="display: table; width: 100%">
      <span style="display: table-cell"><i class="fa fa-github"></i> Github</span>
      <span style="display: table-cell; text-align: center"><i class="fa fa-calendar"></i> Meetup</span>
      <span style="display: table-cell; text-align: center"><i class="fa fa-twitter"></i> Twitter</span>
      <span style="display: table-cell; text-align: center"><i class="fa fa-envelope-o"></i> Mailing List</span>
      <span style="display: table-cell; text-align: right"><i class="fa fa-comments"></i> Google Group</span>
    </div>
    <div class="row">
      <div class="col-sm-2"><i class="fa fa-github"></i> Github</div>
      <div class="col-sm-2" style="text-align: center"><i class="fa fa-calendar"></i> Meetup</div>
      <div class="col-sm-2" style="text-align: center"><i class="fa fa-twitter"></i> Twitter</div>
      <div class="col-sm-3" style="text-align: center"><i class="fa fa-envelope-o"></i> Mailing List</div>
      <div class="col-sm-3" style="text-align: right"><i class="fa fa-comments"></i> Google Group</div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>Code for Boston Idea Repository</p>
        <p>Our IdeaScale site allows every person in Boston to suggest projects for Code for Boston to work on.</p>
      </div>
      <div class="col-md-6">
        <p>2014 Strategic Plan</p>
        <p>Notes about strategic plan</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href class="cta-link">Browse, vote, and add your idea today <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
      <div class="col-md-6">
        <a href class="cta-link">Read and comment on Google Docs <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p>Developers</p>
        <p>Notes about why we need developers</p>
      </div>
      <div class="col-md-4">
        <p>Designers</p>
        <p>Notes about why we need designers</p>
      </div>
      <div class="col-md-4">
        <p>Govs and community groups</p>
        <p>Notes about how to engage as a government</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href class="cta-link">Start hacking <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
      <div class="col-md-4">
        <a href class="cta-link">Start drawing <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
      <div class="col-md-4">
        <a href class="cta-link">Get in touch <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <h1>Featured Projects</h1>
  {{render "projects/index" featuredProjects}}
  {{#link-to 'projects'}}all projects{{/link-to}}

  <h1>Featured Events</h1>
  {{render "events/index" featuredEvents}}
  {{#link-to 'events'}}all events{{/link-to}}
</div>
