<div class="masthead">
  <header class="container">
    <div>Hack your community with</div>
    <h1>Code for Boston</h1>
  </header>
</div>

<section style="background-color: lightgray">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        Part of the Code for America Brigade network, we are a volunteer group of developers, designers, data geeks, and citizen activists who use creative technology to solve civic and social problems.
        {{!<a href class="cta-link">Learn more</a>}}
      </div>
      <a href="http://www.meetup.com/Code-for-Boston/" class="btn btn-join col-sm-offset-1 col-sm-4">Join the Brigade</a>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2>What&rsquo;s new with Code for Boston</h2>
    <div class="row">
      <div class="col-md-4">
        <a href="http://www.meetup.com/Code-for-Boston" class="box-link">
          <div class="box-medium homepage-box box-orange">
            <div>Every Tues, 7&ndash;10</div>
            {{! FIXME let's not use a <small> tag }}
            <div><small>Cambridge Innovation Center</small></div>
            <div><small>Cambridge, MA</small></div>
          </div>
        </a>
        <div class="box-caption">Upcoming Event</div>
        <h3>Weekly Hack Night</h3>
        <p>Weekly Hack Nights are a regular time for our community to meet in person to work on civic tech projects. They&rsquo;re free to attend and open to the public. Come out and meet us soon!</p>
      </div>
      <div class="col-md-5">
        <a href="http://www.pantrypickup.org" class="box-link">
          <div class="box-medium homepage-box box-screenshot" style="background-image: url(/images/pantry_pickup.png)"></div>
        </a>
        <div class="box-caption">Featured Project</div>
        <h3>Pantry Pickup</h3>
        <p>Combining city data with a list of specific needs from food pantries will allow citizens to most effectively make useful and needed donations assisted by the Pantry Pick-Up App.</p>
      </div>
      <div class="col-md-3">
        <a href="http://techpresident.com/news/24913/boston-and-cambridge-move-towards-more-open-data" class="box-link">
          <div class="box-medium homepage-box box-orange">
            <i class="fa fa-bullhorn fa-4x"></i>
          </div>
        </a>
        <div class="box-caption">In the News</div>
        <h3>Open Data in the Hub</h3>
        <p>Open data has been front and center in Boston and Cambridge recently. Read all about the efforts of CfB and others on TechPresident.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 box-footer-link">
        <a href="http://www.meetup.com/Code-for-Boston" class="cta-link">RSVP on Meetup.com <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
      <div class="col-md-5 box-footer-link">
        <a href="http://www.pantrypickup.org" class="cta-link">Check out the app <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
      <div class="col-md-3 box-footer-link">
        <a href="http://techpresident.com/news/24913/boston-and-cambridge-move-towards-more-open-data" class="cta-link">Read more <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
    </div>
  </div>
</section>

<section class="offset-blue">
  <div class="container">
    <h2>New to civic technology? Great! Start here!</h2>
    Civic innovation is a wonderful way to make a difference and give back to your community. But, it can also be a confusing place full of unfamiliar names and acronyms. These links will help you get oriented and get rolling.
    <div class="row">
      <div class="col-md-3">
        <a href="https://medium.com/civic-innovation/16844fc161cd" target="_blank">
          <div class="box-large homepage-box box-screenshot" style="background-image: url(/images/medium.png)"></div>
        </a>
        Jake Levitas&rsquo; definition of civic hacking on Medium
      </div>
      <div class="col-md-3">
        <a href="http://www.ted.com/talks/jennifer_pahlka_coding_a_better_government" target="_blank">
          <div class="box-large homepage-box box-video" style="background-image: url(/images/jen_pahlka.jpg)">
            <i class="fa fa-youtube-play fa-4x"></i>
          </div>
        </a>
        Jen Pahlka&rsquo;s TED Talk
      </div>
      <div class="col-md-3">
        <a href="http://2013.codeforamerica.org/" target="_blank">
          <div class="box-large homepage-box box-screenshot" style="background-image: url(/images/cfa.png)"></div>
        </a>
        Code for America&rsquo;s 2013 Annual Report
      </div>
      <div class="col-md-3">
        <a href="https://www.youtube.com/watch?v=kDFhzNfd-bg" target="_blank">
          <div class="box-large homepage-box box-video" style="background-image: url(/images/sunlight_foundation.jpg)">
            <i class="fa fa-youtube-play fa-4x"></i>
          </div>
        </a>
        Sunlight Foundation on Civic Hacking
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2>Get involved with Code for Boston</h2>
    <p>Code for Boston aims to provide a &lsquo;center of gravity&rsquo; for grassroots, community-driven civic innovation in the Greater Boston area. Our work includes building apps, community organizing, policy initiatives, qualitative research, and more, and we hope that volunteers of all types will join our community. We can&rsquo;t wait to meet you.</p>

{{!--     <div style="display: table; width: 100%">
      <span style="display: table-cell"><i class="fa fa-github"></i> Github</span>
      <span style="display: table-cell; text-align: center"><i class="fa fa-calendar"></i> Meetup</span>
      <span style="display: table-cell; text-align: center"><i class="fa fa-twitter"></i> Twitter</span>
      <span style="display: table-cell; text-align: center"><i class="fa fa-envelope-o"></i> Mailing List</span>
      <span style="display: table-cell; text-align: right"><i class="fa fa-comments"></i> Google Group</span>
    </div>
    <div class="row">
      <div class="col-sm-2"><i class="fa fa-github"></i> Github</div>
      <div class="col-sm-2" style="text-align: center"><i class="fa fa-calendar"></i> Meetup</div>
      <div class="col-sm-2" style="text-align: center"><i class="fa fa-twitter"></i> Twitter</div>
      <div class="col-sm-3" style="text-align: center"><i class="fa fa-envelope-o"></i> Mailing List</div>
      <div class="col-sm-3" style="text-align: right"><i class="fa fa-comments"></i> Google Group</div>
    </div>
 --}}
  </div>
</section>

<div class="container"><hr></div>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="https://codeforboston.hackpad.com/" class="box-link">
          <div class="box-medium box-icon homepage-box box-purple">
            <i class="fa fa-pencil-square fa-4x pull-left"></i>
            <div class="pull-left">
              <div class="ib-header-small">Collaborate on</div>
              <div class="ib-header-large">CfB Hackpad</div>
            </div>
          </div>
        </a>
        <h3>Code for Boston Hackpad</h3>
        <p>We use Hackpad to collaborate on our projects, organize our thoughts, and plan civic innovation events. Feel free to simply browse our discussions, or jump in and contribute to the conversation!</p>
      </div>
      <div class="col-md-6">
        <a href="https://docs.google.com/a/codeforamerica.org/document/d/19j7GPc80s19R4LbX1_O14KHk_DJJMXW8SIWmNaHU9Gg/" class="box-link">
          <div class="box-medium box-icon homepage-box box-blue">
            <i class="fa fa-files-o fa-4x pull-left"></i>
            <div class="pull-left">
              <div class="ib-header-small">Read our 2014</div>
              <div class="ib-header-large">Strategic plan</div>
            </div>
          </div>
        </a>
        <h3>2014 Strategic Plan</h3>
        <p>Our 2014 Strategic Plan sets the overall vision for Code for Boston. Created by our Core Team with input from Code for America, the Plan is intended to be a dynamic document that evolves as we grow.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 box-footer-link">
        <a href="https://codeforboston.hackpad.com/" class="cta-link">Join the conversation <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
      <div class="col-md-6 box-footer-link">
        <a href="https://docs.google.com/a/codeforamerica.org/document/d/19j7GPc80s19R4LbX1_O14KHk_DJJMXW8SIWmNaHU9Gg/" class="cta-link">Read and comment on Google Docs <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="https://github.com/codeforboston" class="box-link">
          <div class="box-medium homepage-box box-lightblue">
            <i class="fa fa-github fa-5x"></i>
          </div>
        </a>
        <h3>Jam on civic tech projects</h3>
        <p>All of our projects are open source and freely available on Github. Hit it up if you&rsquo;re a developer or designer. We love pull requests!</p>
      </div>
      <div class="col-md-4">
        <a href="https://twitter.com/CodeForBoston" class="box-link">
          <div class="box-medium homepage-box box-lightblue">
            <i class="fa fa-twitter fa-5x"></i>
          </div>
        </a>
        <h3>Latest and greatest in civic tech</h3>
        <p>We use Twitter to feed you a steady stream of comments, news, conversation, and factoids from the local and national civic tech ecosystems.</p>
      </div>
      <div class="col-md-4">
        <a href="http://eepurl.com/rnjsP" class="cta-link">
          <div class="box-medium homepage-box box-lightblue">
            <i class="fa fa-inbox fa-5x"></i>
          </div>
        </a>
        <h3>Keep up with Code for Boston</h3>
        <p>Our monthly newsletter will help keep you up-to-date with the latest on Code for Boston news, projects, events, members, and more.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 box-footer-link">
        <a href="https://github.com/codeforboston" class="cta-link">Start hacking on GitHub <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
      <div class="col-md-4 box-footer-link">
        <a href="https://twitter.com/CodeForBoston" class="cta-link">Follow us on Twitter <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
      <div class="col-md-4 box-footer-link">
        <a href="http://eepurl.com/rnjsP" class="cta-link">Join our mailing list <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
    </div>
  </div>
</section>
