<h1>Featured Projects</h1>
{{render "projects/index" featuredProjects}}
{{#link-to 'projects'}}all projects{{/link-to}}

<h1>Featured Events</h1>
{{render "events/index" featuredEvents}}
{{#link-to 'events'}}all events{{/link-to}}
